<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>О нас</title>
    </head>
    <body>
        <h1>О нас</h1>
        <p>
            Телефон: 8 800 555 35 35
        </p>
        <p>
            Адрес: Сормовская улица, 21А, Москва, 109444
        </p>
        <p><a href="https://yandex.ru/maps/213/moscow/house/sormovskaya_ulitsa_21a/Z04YfgdoTUQHQFtvfXtxdH1mbA==/?ll=37.808702%2C55.705039&z=18.37">А где это?</a></p>
        <a href="{% url 'main' %}"><button>На главную</button></a>
    </body>
</html>