<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{localizator.service_update_page_title}}</title>
    {% include "style.html" with theme=session.theme scale=session.scale %}
</head>
<body>
<h1>{{localizator.service_update_page_header}}</h1>
{% if error %}
<p>{{error}}</p>
{% else %}
<form method='post'>
    {% csrf_token %}
{{form.as_p}}
<button type='submit'>{{localizator.save}}</button>
</form>
{% endif %}
<a href="{% url 'service_list' %}"><button>{{localizator.back}}</button></a>
</body>
</html>